/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #00A08A;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 { margin-bottom: 1em; }
h2 { 
  font-size: 2em;
  font-weight: normal;
  color:#FFFFFF;
}
p { margin: 1em 0; }

a         { color: #FFBB40; }
a:hover   { color: #FFBB40; }
a:visited { color: #FFBB40; }

.clearfix { clear: both; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
#content {
  margin-top: 1.6em;
  margin-bottom: 1.5em;
  color: #DDDDDD;
}

.posts {
  list-style-type: none;
  margin-bottom: 1em;
}

.posts .post-title {
  font-size: 2em;
  float: left;
}

.posts .post-title a {
  text-decoration: none;
}

.posts li {
  line-height: 1.75em;
}

.posts .post-date {
  color: #FFFFFF;
  font-size: 1.6em;
  float: right;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header {
  border-bottom: 2px solid #fff;
  padding-bottom: 1em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: none;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #FFF;
  border-top: 2px solid #fff;
  margin-top: 1em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #FFF;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
